<% provide(:title, "Index") %>

<div id="linkmsg" class="list-group">
</div>
<script language="JavaScript"><!--
if(document.domain != "13.78.48.83"){
	console.log("ドメイン名："+document.domain);
	$('#linkmsg').append('	<a class="list-group-item list-group-item-danger" href="http://13.78.48.83/preview-tools/">このページはテストページです。すぐに移動してください。</a>');
}
// --></script>

<div class="list-group">

	<%= link_to placementtags_path, { :class => "list-group-item" } do %>
		<h4 class="list-group-item-heading">Sizmek Placement Tag 作成</h4>
		<p class="list-group-item-text">Sizmek プレイスメントタグをプレビューするツール</p>
	<% end %>
	<%= link_to treasuredatatags_path, { :class => "list-group-item" } do %>
		<h4 class="list-group-item-heading">Treasuredata Tag 作成</h4>
		<p class="list-group-item-text">トレジャーデータのタグを作成するツール（資生堂案件）</p>
	<% end %>
</div>
